streamlit
streamlit-option-menu
streamlit-extras
python-docx
python-pptx
google-genai
google-generativeai
openai
reportlab
numpy
docxcompose
mammoth
pandas
openpyxl
pypdf
lxml
underthesea
altair
PyPDF2
latex2mathml
matplotlib
plotly
scipy
python-dotenv
httpx
pdfplumber
sympy
shapely
pillow
