streamlit
streamlit-option-menu
streamlit-extras
python=3.11
python-docx
python-pptx
reportlab
numpy
docxcompose
mammoth
pandas
openpyxl
pypdf
lxml
underthesea
altair
matplotlib
plotly
scipy
python-dotenv
httpx
pdfplumber
sympy
shapely
pillow
google-genai
openai
latex2mathml
langchain
langchain-community
langchain-google-genai
chromadb
pydantic
langchain-text-splitters
langchain-core
google-api-core
sqlalchemy
bcrypt
pyjwt
pydantic
